[Unit]
Description=ffs-video
After=multi-user.target

[Service]
Type=simple
Restart=on-failure
User=pi
WorkingDirectory=/home/pi/ffs/modules/video
ExecStart=/home/pi/ffs/modules/video/bin/python -mu src.main

[Install]
WantedBy=multi-user.target